<template>
	<div class="test">
		<h2>Your Items</h2>
		<el-row  type="flex" align="middle" class="row-bg" justify="center">
			<ul>
				<li v-for='curent in purchased'>
					Item: {{curent.title}}, count: {{curent.count}}, price: {{curent.count*curent.price}}$
					<el-button type="text" @click="removeProduct({curent},{products},{purchased})"><icon name="times"></icon></el-button>
				</li>
			</ul>
		</el-row>
		<p>Total Price: {{total}}$</p>
		<el-button type="danger">Purchise</el-button>
	</div>
</template>

<script>
	import store from '../store';

	export default {
		name: 'test',
		data: '',
		computed: {
			purchased() {
				return this.$store.state.purchased;
			},
			products() {
      			return this.$store.state.products;
    		},
    		total() {
    			var all = this.$store.state.purchased;
    			var sum = 0;

    			for (var i = 0; i < all.length; i++) {
    				sum += all[i].price * all[i].count;
    			}

    			return sum;
    		}
		},
		methods: {
    		removeProduct(curent, products, purchased){

    			function find_curent(element){ // за да намерим на коя позиция е записа с ID = на текущото
    				return element.id == curent.curent.id;
    			}
    			var index_in_products = products.products.findIndex(find_curent);
    			var index_in_purchased = purchased.purchased.findIndex(find_curent);

    			if (curent.curent.count > 1) { // Проверяваме дали има достатъчно количество
    				curent.curent.count--;
    			} else { // ако няма - трием целия продукт от кошницата
    				purchased.purchased.splice(index_in_purchased, 1);
    			}

				products.products[index_in_products].stock++; // Добавяме обратно stock 
    			
    		}
		}
	}
</script>

<style scoped>
	.test {
		border: 1px solid black;
		position: relative;
		max-width: 530px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 25px;
	}
	ul {
		padding: 0;
	}
	li {
		display: block;
	}
</style>