<template>
  <div class="home">
    <ul>
      <p v-if='show_searched'><strong>Result for "{{search_string}}" :</strong></p>
      <p v-if='show_liked'><strong>Liked Products :</strong></p>
      <li v-for='product in products'>
        <product_block :product='product'></product_block>
      </li>
    </ul>
  </div>
</template>

<script>
import product_block from './product_block';
import store from '../store';

export default {
  name: 'home',
  components: {
    product_block
  },
  computed: {
    show_searched() {
      return this.$store.state.options.search;
    },
    search_string() {
      return this.$store.state.options.search_string;
    },
    show_liked() {
      return this.$store.state.options.show_liked;
    },
    products(){
      var options = this.$store.state.options;
      var search_bool = options.search;
      var search_string = options.search_string;
      var show_liked = options.show_liked;

      if (!search_bool) {
        if (show_liked) {
          return this.$store.state.products.filter((product) => {
            return product.liked;
          });
        } else {
          return this.$store.state.products;
        }
      } else {
        return this.$store.state.products.filter((product) => {
          return product.title.match(search_string);
        });
      }
    }
  }
}
</script>

<style scoped>
  li {
    display: block;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
  }
</style>
