<template>
  <div class='product-block'>
    <img width="500" height="300" :src="product.img" :alt="product.title"/>
    <h2 class='title clear_fix float_left'>{{product.title}}</h2>
    <span class='clear_fix price'>${{product.price}}</span>
    <span class='stock'><b>In Stock:</b> {{product.stock}}</span>
    <el-button v-if='!is_liked' @click='like_product({product})' class='clear_fix float_left' type="danger"><icon name="heart"></icon> Like</el-button>
    <el-button v-if='is_liked' @click='unlike_product({product})' class='clear_fix float_left' type="danger"><icon name="heart-o"></icon> UnLike</el-button>
    <el-button @click='getProduct({product},{purchased})' class='float_right' type="success"><icon name="shopping-cart"></icon> Buy</el-button>
  </div>
</template>

<script>
import store from '../store';

export default {
  name: 'product-block',
  props: ['product'],
  methods: {
    getProduct(curent,purchased){
      if (curent.product.stock) { // за да не се добавя в количката ако е stock == 0
        curent.product.stock-- ; // Премахване 1 от stock

        var el = purchased.purchased.filter(function(el) { // Проверка дали вече е добавен артикул с това ИД
          return el.id === curent.product.id;
        });

        if (el.length) { // Ако го има - добавяме бройка към обекта с текущото ИД
          var id = curent.product.id;
          for(let i = 0, l = purchased.purchased.length; i < l; i++) {
            if (id == purchased.purchased[i].id ) {
              purchased.purchased[i].count++;
            }        
          }
        } else { // ако го няма добавяме нов обект с текущото ИД и 1 бройка
          var obj = {id: curent.product.id, title: curent.product.title, price: curent.product.price , count: 1}; 
          purchased.purchased.push(obj); 
        }
      }
    },
    like_product(curent){
      curent.product.liked = true;
    },
    unlike_product(curent){
      curent.product.liked = false;
    }
  },
  computed: {
    purchased() {
      return this.$store.state.purchased;
    },
    is_liked() {
      return this.product.liked;
      // return this.$store.state.products;
    }
  }
}
</script>

<style scoped>
  .product-block{
    border: 1px solid black;
    display: inline-block;
    width: 500px;
  }
  .title, .price, .stock, .el-button {
    margin: 10px;
  }
  .price{
    display: inline-block;
    float: left;
  }
  .stock{
    display: inline-block;
    float: right;
  }
  .float_left{
    float: left;
  }
  .float_right{
    float: right;
  }
  .clear_fix{
    clear: both;
  }
</style>
