<template>
  <div id="app">
    <navigation></navigation>
    <hr />
    <router-view></router-view>
  </div>
</template>

<script>
import navigation from './components/nav/nav.vue';

export default {
  name: 'app',
  data() {
    return {
      msg: 'test msg'
    }
  },
  components: {
    navigation
  }
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
