<template>
	<div class="navigation">
		<el-row  type="flex" align="middle" class="row-bg" justify="space-between">
			<el-col>
				<a @click="goToHome">
					<img src="../../assets/logo.jpg" alt="logo">
				</a>
			</el-col>
			<el-col>
				<el-input placeholder="search" v-model="input" size="mini" ></el-input>
				<el-button type="text" @click="toggleSearch()"><icon name="search"></icon></el-button>
				<el-button type="text" @click="goToCart()"><icon name="shopping-cart"></icon></el-button>{{total}}
				<el-button type="text" @click="toggleLiked()"><icon name="tags"></icon></el-button>{{liked}}
			</el-col>
		</el-row>
	</div>

</template>

<script>
	import search from './search.vue';
	import Router from 'vue-router';
	import store from '../../store';

	export default {
		name: 'navigation',
		data () {
			return {
				input: ''
			}
		},
		methods: {
			goToHome(){
				this.input = '';
				this.$store.state.options.search = false;
				this.$store.state.options.show_liked = false;
				this.$router.push('/');
			},
			goToCart(){
				this.input = '';
				this.$store.state.options.search = false;
				this.$store.state.options.show_liked = false;
				this.$router.push('checkout');
			},
			toggleSearch(){
				if (this.input == '') {
					this.$store.state.options.search = false;
				} else {
					this.$store.state.options.search = true;
				}
				this.$store.state.options.search_string = this.input;
				this.$store.state.options.show_liked = false;
				this.$router.push('/');
			},
			toggleLiked(){
				this.$store.state.options.search = false;
				this.$store.state.options.show_liked = true;
				this.$router.push('/');
			}
		},
		computed: {
			total(){
				var total = this.$store.state.purchased.length;
				if (total > 0 ) {
					return total;
				} else {
				return '';
				}
			},
			liked(){
				var temp = this.$store.state.products.filter((product) => {
            		return product.liked;
          		});

				var liked = temp.length;
				if (liked > 0 ) {
					return liked;
				} else {
				return '';
				}
			},
			options(){
				return this.$store.state.options;
			}
		}
	}
</script>

<style scoped>
	.navigation {
		position: relative;
		max-width: 530px;
		margin-left: auto;
		margin-right: auto;
	}
	.el-input {
		width: 110px;
	}
	a {
		cursor:pointer;
	}
</style>